# Data Science Tools and Ecosystem

In [1]:
# In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 4 - Create a markdown cell to list data science languages

**objectives:**
- Python
- R
- Scala
- Julia
- SQL

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
- Python
- R
- Julia

Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
|--------------------|
|     Anaconda       |
|--------------------|
|     Rstudio        |
|--------------------|
|     Jupyter        |
|--------------------|

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

Exercise 8 - Create a code cell to multiply and add numbers

In [10]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

Exercise 9 - Create a code cell to convert minutes to hours

In [11]:
#This will convert 200 minutes to hours by diving by 60
# hours = minutes/60
hours = 200/60
hours

3.3333333333333335

## Author
Suvidha