In [13]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [14]:
df = pd.read_csv('C:\\Users\\User\\Desktop\\Machine Learning Coursera\\Datasets\\healthcare_dataset.csv')

In [15]:
df.head(5)

,Name,Age,Gender,Blood_group,Medical_Condition,Date_Admitted,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission_Type,Discharge Date,Medication,Test Results
0,Bobby JacksOn,30,Male,B-,Cancer,31-01-2024,Matthew Smith,Sons and Miller,Blue Cross,18856.28131,328,Urgent,02-02-2024,Paracetamol,Normal
1,LesLie TErRy,62,Male,A+,Obesity,20-08-2019,Samantha Davies,Kim Inc,Medicare,33643.32729,265,Emergency,26-08-2019,Ibuprofen,Inconclusive
2,DaNnY sMitH,76,Female,A-,Obesity,22-09-2022,Tiffany Mitchell,Cook PLC,Aetna,27955.09608,205,Emergency,07-10-2022,Aspirin,Normal
3,andrEw waTtS,28,Female,O+,Diabetes,18-11-2020,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.78241,450,Elective,18-12-2020,Ibuprofen,Abnormal
4,adrIENNE bEll,43,Female,AB+,Cancer,19-09-2022,Kathleen Hanna,White-White,Aetna,14238.31781,458,Urgent,09-10-2022,Penicillin,Abnormal

In [16]:
df1 = df.drop(columns=['Name','Doctor','Room Number','Billing Amount','Hospital','Insurance Provider','Date_Admitted','Discharge Date','Medication'])
df1.head(5)

   Age  Gender Blood_group Medical_Condition Admission_Type  Test Results
0   30    Male          B-            Cancer         Urgent        Normal
1   62    Male          A+           Obesity      Emergency  Inconclusive
2   76  Female          A-           Obesity      Emergency        Normal
3   28  Female          O+          Diabetes       Elective      Abnormal
4   43  Female         AB+            Cancer         Urgent      Abnormal

In [17]:
df1['Gender']=df1['Gender'].map({'Male':0,'Female':1})
df1['Blood_group'] = df1['Blood_group'].map({'B-': 0, 'A+': 1, 'A-': 2, 'O+': 3, 'AB+': 4, 'AB-': 5, 'B+': 6})
df1['Medical_Condition'] = df1['Medical_Condition'].map({'Cancer': 0, 'Obesity': 1, 'Diabetes': 2, 'Asthma': 3, 'Hypertension': 4, 'Arthritis': 5})
df1['Admission_Type'] = df1['Admission_Type'].map({'Urgent': 0, 'Emergency': 1, 'Elective': 2})
df1['Test Results'] = df1['Test Results'].map({'Normal': 0, 'Inconclusive': 1, 'Abnormal': 2})

In [18]:
df1.head(5)

   Age  Gender  Blood_group  Medical_Condition  Admission_Type  Test Results
0   30       0          0.0                  0               0             0
1   62       0          1.0                  1               1             1
2   76       1          2.0                  1               1             0
3   28       1          3.0                  2               2             2
4   43       1          4.0                  0               0             2

In [19]:
x = df1.columns[:-1]
y = df1.columns[-1]
X = np.nan_to_num(x)
df1 = df1[np.isfinite(df1).all(1)]
X

array(['Age', 'Gender', 'Blood_group', 'Medical_Condition',
       'Admission_Type'], dtype=object)

In [20]:
X_train,X_test,y_train,y_test = train_test_split(df1[X],df1[y],random_state=42,test_size=0.3)
obj = DecisionTreeClassifier()

In [21]:
obj.fit(X_train,y_train)

DecisionTreeClassifier()

In [22]:
y_pred = obj.predict(X_test)
y_pred

array([1, 2, 1, ..., 2, 2, 2], dtype=int64)

In [23]:
acc = accuracy_score(y_test,y_pred)
acc

0.3435250565572085

In [24]:
import pickle
import joblib
import sklearn
file_name = 'healthcare_model.pkl'
print('version :',sklearn.__version__)
joblib.dump(obj,file_name)

version : 1.0.2

['healthcare_model.pkl']